.event-list {
    text-align: center;
    padding: 20px;
    padding-bottom: 170px;
    font-family: Arial, sans-serif;
}

.event-list h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.event-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card-item {
    list-style: none;
    cursor: pointer;
    max-width: 300px;
}
