.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px;
  padding-bottom: 100px;
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  margin-bottom: 200px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-info {
  font-size: 18px;
  max-width: 50%;
}

.profile-info h1 {
  font-size: 32px;
  margin-bottom: 20px; /* Added margin to separate the name from the details */
}

.profile-info p {
  margin: 8px 0; /* Added margin to space out the username and email */
}

.profile-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
  margin-bottom: 10px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.profile-img:hover {
  border-color: #007bff;
}

.profile-photo input {
  margin-bottom: 10px;
}

.profile-stats {
  margin-top: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 50%;
}

.profile-stats h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.profile-stats p {
  font-size: 18px;
  margin-bottom: 10px;
}